$primaryColor: whitesmoke;
$secondaryColor:#83af32ea;
$headerColor: #ffffff;
$grayColor: #454e56;
$whiteColor:white;
$blackColor: #000;
$transition: all .4s ease-in-out;
$boxShadow:0 3px 15px rgba(0, 0, 0, .5);