<hr style="background-color: black;height:5px;">
<section class=" section sec5 contact ">
        <h2> <span class="stats "><i class="fa fa-phone " aria-hidden="true "></i> contact-me</span></h2>
    <div class="row contactcont ">
        <div class="formcont">
            <form action="#" method="post" class="formfield">
                <label for="email" id="email">
                    <span>Message-us</span>
                    <i class="fa fa-envelope"aria-hidden="true"></i>:
                </label>
                <textarea name="email" id="email" cols="10" rows="5"></textarea>
                <input type="button" value="send" class="button-primary">
            </form>
            <small id="emailHelpId"class="form-texttext-muted">contact-us for ads<small>
        </div>
  
        <address class="address">
            <p>phone: +2349141975715</p>
            <p>country: Nigeria</p>
        </address>
        <div class="row social ">
            <a href="# " class="col">
                <i class="fab fa-facebook "></i>
                <p>facebook</p>
            </a>
            <a href="# " class="col">
                <i class="fab fa-whatsapp "></i>
                <p>whatsapp</p>
            </a>
            <a href="# " class="col">
                <i class="fab fa-twitter "></i>
                <p>twitter</p>
            </a>
            <a href="# " class="col">
                <i class="fab fa-instagram "></i>
                <p>instagram</p>
            </a>
            <a href="# " class="col">
                <i class="fab fa-telegram "></i>
                <p>telegram</p>
            </a>
        </div>
    </div>
    <small>
        <p>
            <span>copyright &COPY;</span>
            <span>OMD-developer</span><br>
            <span>All-right reserved</span>
        </p>
    </small>
   
</section>


