<div class="ads" style="background-color: black;">
 <p>yes</p>
</div>

<div class=" head">
  <div class=" columns">
    <div class=" left">
        <button class=" openbtn"><i class="fas fa-list    "></i></button>
        <p><span class="omd">OMD</span>blog</p>
    </div>
    <div class=" nav-bar">
      <div class="controls ">
        <a href="/" class="control control-1 "data-id="home">
            <i class="fas fa-home " aria-hidden="true " style="pointer-events: none; "></i>
            <p class="text" style="pointer-events: none;">Home</p>
        </a>
        <a href="/blog" class="control control-4 "data-id="blogs ">
            <i class="fas fa-newspaper " style="pointer-events: none "></i>
            <p class="text" style="pointer-events: none;">News</p>
        </a>
        <a href="/movies" class="control control-4 "data-id="entertain ">
            <i class="fa fa-film" aria-hidden="true"></i>
            <p class="text" style="pointer-events: none;">Movies</p>
        </a>
        <a href="/about" class="control control-2 "data-id="about ">
            <i class="fas fa-user " style="pointer-events: none "></i>
            <p class="text" style="pointer-events: none;">About</p>
        </a>
        <a href="/portfolio" class="control control-3 "data-id="portfolio ">
              <i class="fas fa-briefcase " style="pointer-events: none "></i>
              <p style="pointer-events: none;">Portfolio</p>
        </a>
        <a href="/contact" class="control control-4 "data-id="contact">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p style="pointer-events: none;">Contact</p>
        </a>
      </div>
      <div class="signup">
        <a href="#">login</a>/<a href="#">signup</a>
      </div>
    </div>
    
  </div>

  <div class=" form">
    <button type="button" class="btn btn-secondary clickme">click</button>
    <form action="/search" method="post" >
      <input type="search" name="search" id="search" placeholder="Search..." class="search">      
      <label for="search" id="search">
      <i class="fas fa-search fa-sm fa-fw"></i>
      </label>
    </form>
  </div>
</div>


<div class="row m-2  okay" style="height: fit-content;">
    <div class="col p-3  leftcont">
        <p ><span id="hey">Hey!!</span><br> <br> Welcome to my blog.
            <br> my name is Okaro Mmesoma Chidiebele also known as Omenadollar. <br>I'm web-developer,Freelancer,Businessman and others. <br>Go to
            <span class="control control-2 " data-id="about " style="cursor: pointer;">
                About
            </span> to find out more about me...
        </p>
    </div>
</div>

<div class="sidebar ">
    <div class="sidecont ">
        <button class="closebtn " style="font-size: larger; "><i class="fa fa-arrow-left " aria-hidden="true "></i>
        </button>
        <div class="content ">
            <a href="/news ">trending</a>
            <a href="/api/v1news ">technology</a>
            <a href="/enter ">entertainment</a>
            <a href="# ">Crypto</a>
        </div>
    </div>
</div>